* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #d0d4d5;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#main a:hover {
  color: rgb(173, 126, 126);
  transition-duration: 0.5s;
}
#main i:hover {
  color: black;
  opacity: 1;
  font-weight: 1000;
}
#main button:hover {
  color: #8934de;
  transition-duration: 0.2s;
}
#nav {
  text-transform: uppercase;
  height: 110px;
  width: 100%;
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
#nav img {
  height: 50px;
  /* padding-left: 90px; */
}
#nav a {
  text-decoration: none;
}
#nav-mid {
  margin-left: -190px;
}
#nav-mid a {
  color: black;
  padding: 35px;
  font-weight: 600;
  font-size: 20px;
}
#nav-right i {
  color: black;
  padding: 30px;
  font-size: 20px;
  opacity: 0.7;
}
#content {
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
  position: relative;
}

#content-left {
  height: 100%;
  width: 40vw;
  padding: 120px 150px;
}

#content-right {
  height: 100%;
  width: 60vw;
  white-space: nowrap;
  overflow-x: auto;
  padding: 120px;
}
#content-right::-webkit-scrollbar {
  display: none;
}
#content-right .elements i {
  color: black;
  position: absolute;
  bottom: -20%;
  font-size: 50px;
  border-top: grey dashed;
  border-bottom: grey dashed;
  border-radius: 60px;
}

#content-left h5 {
  text-transform: capitalize;
  font-size: 24px;
  color: #4f4f4f;
  opacity: 0.9;
  margin-bottom: 25px;
}
#content-left h1 {
  font-size: 85px;
  text-transform: uppercase;
  line-height: 90px;
  margin-bottom: 50px;
}
#content-left p {
  font-size: 18px;
  line-height: 26px;
  width: 90%;
  text-transform: none;
  margin-bottom: 60px;
  opacity: 0.7;
}
#content-left button {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 50px;
  background-color: black;
  color: white;
  border-top-left-radius: 0px;
}
.elements {
  height: 520px;
  width: 350px;
  background-color: #f6f6f6;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  display: inline-block;
  margin-right: 25px;
}
.elements img {
  height: 90%;
  top: 5%;
  width: 350px;
  position: absolute;
  object-fit: contain;
}
.elements h4 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #d0d4d5;
  padding: 15px 25px;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.elements h5 {
  position: absolute;
  bottom: 9%;
  right: 0;
  padding: 12px 18px;
  background-color: #000;
  color: white;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
}

@media (max-width: 500px) {
  #nav-left {
    display: none;
  }
  #nav-right {
    display: none;
  }
  #nav-mid {
    width: 100%;
    display: flex;
    gap: 1px;
    padding-left:40px;
  }
  #nav-mid a {
    padding-top: 0px;
    margin: 0px;
    font-size: 10px;
  }
  #content {
    display: inline;
  }
  #content-left {
    width: 100%;
    padding: 50px;
  }
  #content-right {
    width: 100%;
    padding: 50px;
  }
}
@media (max-width: 700px) {
  #nav-left {
    display: none;
  }
  #nav-right {
    display: none;
  }
  #nav-mid {
    width: 100%;
    display: flex;
    gap: 1px;
  }
  #nav-mid a {
    padding: 0px 0px;
    padding-left: 150px;
    margin: -20px;
    font-size: 10px;
  }
  #content {
    display: inline;
  }
  #content-left {
    width: 100%;
    padding: 50px;
  }
  #content-right {
    width: 100%;
    padding: 50px;
  }
}
@media (max-width: 1360px) {
  #nav-right {
    display: none;
  }
  #nav {
    display: flex;
    justify-content: space-between;
  }
  
  #nav-mid {
    width: 100%;
    display: flex;
    gap: 1px;
    padding-left: 190px;
  }
  #nav-mid a {
    font-size: 20px;
    padding: 0px 0px;
    padding-left: 150px;
    margin: -20px;
  }
  #content {
    display: inline;
  }
  #content-left {
    padding: 120px 160px;
    width: 100%;
  }
  #content-right {
    width: 100%;
    padding: 50px;
  }
}
